* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: black;
}

.clock {
    background-color: #dddddd;
    width: 350px;
    height: 350px;
    border: 3px solid #aaaaaa;
    border-radius: 100%;
    margin: auto;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.twelve {
    border: 2px solid red;
    position: absolute;
    width: 3px;
    height: 15px;
    background: #111111;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.three {
    border: 2px solid red;
    position: absolute;
    width: 15px;
    height: 3px;
    background: #111111;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

.six {
    border: 2px solid red;
    position: absolute;
    width: 3px;
    height: 15px;
    background: #111111;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.nine {
    border: 2px solid red;
    position: absolute;
    width: 15px;
    height: 3px;
    background: #111111;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
}

.center {
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#seconds {
    position: absolute;
    height: 160px;
    width: 2px;
    background: red;
    position: absolute;
    top: 0;
    bottom: 160px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transform-origin: bottom;
}

#minutes {
    position: absolute;
    height: 200px;
    width: 2px;
    background: black;
    position: absolute;
    top: 0;
    bottom: 200px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transform-origin: bottom;
}

#hours {
    position: absolute;
    height: 80px;
    width: 6px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 80px;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-transform-origin: bottom;
}